# {{ ansible_managed }}
# ma1sd {{ ma1sd_version }}
# view ansible role at {{ ma1sd_ansible_url }}
#####################################################################
# For a complete list of options, https://github.com/ma1uta/ma1sd/
#####################################################################

matrix:
  domain: '{{ ma1sd_hostname }}'
  v1: false
  v2: true

{% if ma1sd_homeserver_internal_uri is defined %}
dns:
  overwrite:
    homeserver:
      client:
        - name: '{{ ma1sd_hostname }}'
          value: '{{ ma1sd_homeserver_internal_uri }}'
{% endif %}

key:
  path: '/var/lib/ma1sd/signing.key'

storage:
  backend: sqlite
  provider:
    sqlite:
      database: '/var/lib/ma1sd/ma1sd.db'


synapseSql:
  enabled: True
  type: 'postgresql'
  connection: '//{{ ma1sd_synapse_db_endpoint }}/{{ ma1sd_synapse_db_name }}?user={{ ma1sd_synapse_db_username }}&password={{ ma1sd_synapse_db_password }}'
  lookup:
    query: 'select user_id as mxid, medium, address from user_threepid_id_server' # query for retrive 3PIDs for hashes.

{% if ma1sd_email_enabled|bool %}
#### E-mail invite sender
threepid:
  medium:
    email:
      identity:
        # The e-mail to send as.
        from: "{{ ma1sd_email_from_address }}"
        name: "{{ ma1sd_email_from_name }}"

      connectors:
        smtp:
          host: "{{ ma1sd_email_host }}"
          port: {{ ma1sd_email_port }}
          login: "{{ ma1sd_email_login }}"
          password: "{{ ma1sd_email_password }}"

          # TLS mode for the connection.
          #
          # Possible values:
          #  0    Disable TLS entirely
          #  1    Enable TLS if supported by server (default)
          #  2    Force TLS and fail if not available
          #
          tls: {{ ma1sd_email_tls_setting }}

# ref: https://github.com/ma1uta/ma1sd/blob/master/docs/threepids/session/session.md
session:
  policy:
    validation:
      enabled: true
{% endif %}

{% if ma1sd_tos_enabled %}
# ref: https://github.com/ma1uta/ma1sd/blob/master/docs/MSC2140_MSC2134.md
policy:
  policies:
    term_name: # term name
      version: {{ ma1sd_tos_version }}
      terms:
        en:  # lang
          name: "{{ ma1sd_tos_name }}"
          url: "{{ ma1sd_tos_url }}"
      regexp:
        - '/_matrix/identity/v2/account.*'
        - '/_matrix/identity/v2/hash_details'
        - '/_matrix/identity/v2/lookup'

{% endif %}


# ref: https://github.com/ma1uta/ma1sd/blob/master/docs/MSC2140_MSC2134.md
hashing:
  enabled: true # enable or disable the hash lookup MSC2140 (default is false)
  pepperLength: 20 # length of the pepper value (default is 20)
  rotationPolicy: per_requests # or `per_seconds` how often the hashes will be updating
  hashStorageType: sql # or `in_memory` where the hashes will be stored
  algorithms:
    - none   # the same as v1 bulk lookup
    - sha256 # hash the 3PID and pepper.
  requests: 10 # how many lookup requests will be performed before updating hashes if rotation policy = per_requests (default is 10)

logging:
  root: error     # default level for all loggers (apps and thirdparty libraries)
  app: info # log level only for the ma1sd
  requests: false # log request and response
