# {{ ansible_managed }}
# ma1sd {{ ma1sd_version }}
# view ansible role at {{ ma1sd_ansible_url }}
[Unit]
Description=ma1sd

[Service]
User=ma1sd
ExecStart=/usr/bin/ma1sd -c /etc/ma1sd/ma1sd.yml
Restart=on-failure
RestartSec=3
PrivateTmp=true

[Install]
WantedBy=multi-user.target
